%h1 Listing tags

%table
  %thead
    %tr
      %th Name
      %th

  %tbody
    - @tags.each do |tag|
      %tr
        %td= tag.name
        %td= link_to 'Show', question_tag_path(tag, question_id: @question)
        %td= link_to 'Edit', edit_question_tag_path(tag, question_id: @question)
%br

= link_to 'New tag', new_question_tag_path
